.footer {
  background: $primary;
  padding-top: 48px;

  .section-left {
    ul {
      gap: 48px;
    }

    a {
      color: #FFFFFF;
      transition: .8s;

      &:hover {
        color: $text-color-black;
      }
    }
  }

  .section-right {
    a {
      display: block;

      &:hover {
        transform: scale(1.1);
        transition: .3s;
      }
    }

    img {
      width: 48px;
      height: 48px;
    }
  }

  .middle {
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;

    img {
      width: 40px;
      margin-right: 22px;
    }

    h2 {
      font-size: 36px;
    }
  }

  .bottom {
    color: $text-color-white;
    padding: 32px 0;

    a {
      color: $text-color-white;
      font-size: $fs-14;
    }
  }
}