.footer {
  background: $primary;
  padding-top: 48px;
  padding-bottom: 32px;

  .top {
    border-bottom: 1px solid #FFFFFF;
  }

  .section-left {
    @media (max-width:767px) {
      border-bottom: 0;
    }

    ul {
      gap: 48px;
      padding-top: 12px;
    }

    a {
      color: #FFFFFF;
      transition: .8s;

      &:hover {
        color: $text-color-black;
      }
    }
  }

  .section-right {
    ul {
      gap: 32px;

      @media (max-width:992px) {
        gap: 16px;
      }

      @media (max-width:376px) {
        gap: 8px;
      }
    }

    a {
      display: block;

      &:hover {
        transform: scale(1.1);
        transition: .3s;
      }
    }

    img {
      width: 48px;
      height: 48px;

      @media (max-width:767px) {
        width: 24px;
        height: 24px;
      }
    }
  }

  .footer_info {
    color: #FFFFFF;


    img {
      width: 40px;
      margin-right: 22px;

      @media (max-width:767px) {
        width: 18px;
      }

      @media (max-width:376px) {
        margin-right: 10px;
      }
    }

    h2 {
      font-size: 36px;
    }
  }

  .bottom {
    color: $text-color-white;

    a {
      color: $text-color-white;
      font-size: $fs-14;
    }
  }
}

@media (max-width:992px) {
  .footer {
    padding: 48px 36px 40px 36px;
  }
}

@media (max-width:767px) {
  .footer {
    padding: 24px 12px;

    .top {
      align-items: start;
      border-bottom: 1px solid #FFFFFF;
    }

    .footer_info {
      h2 {
        font-size: 16px;
      }
    }

    .footer_navbar {
      display: none;
    }
  }
}

@media (max-width:576px) {
  .top {
    margin-bottom: 16px;
  }

  .footer {
    .bottom {
      padding: 0;
      flex-direction: column;
    }

    .link-group {
      margin-top: 8px;

      .mt {
        margin-top: 8px;
      }

      a {
        display: block;
        margin-left: 0;
        width: 30%;
        font-size: 16px;
      }

    }
  }
}